{% extends 'base.html.twig' %}

{% block title %}New UserMonitoringSettings{% endblock %}

{% block body %}
    <h1>Create new UserMonitoringSettings</h1>

    {{ include('user_monitoring_settings/_form.html.twig') }}

    <a href="{{ path('user_monitoring_settings_index') }}">back to list</a>
{% endblock %}
